{% extends "app_home/layout/base.html" %}
{% load static %}
{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css'%}">

{% endblock %}
{% block content %}

<section class="stats-stream" id="stats-stream">
    <div class="container">
        <div class="flex">
            <div class="stream">
                <div class="flex-item">
                <br>
				<br>
                    <h1><b>Profile</b></h1>
                    <br>
					<br>
					<br>
                    <div class="stats">
                        <div class="flex-center">
                            {% if user.photo %}
                            <img class="display-pic" src="{{ user.photo.url }}">
                            {% else %}
                            <img class="display-pic" src="{% static 'img/profile_pic.svg' %}">
                            {% endif %}
                            <br>
							<br>
                            <h2><b>{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</b></h2>
                            <a href="/app_profile/profile_edit"></a><i class="fa fa-cog" aria-hidden="true"></i>
                            <br>
							<br>
                            <div class="flex-item">
                            <div class="row">
                            	<div class="profile">
									<div class="col-sm-6">
										<p class="title"><b>Birthday</b></p>
									</div>
									<div class="col-sm-6">
										<p class="content">{{ user.birth_date }}</p>	
									</div>
									<div class="col-sm-6">
										<p class="title"><b>Gender</b></p>
									</div>
									<div class="col-sm-6">
										<p class="content">{{ user.gender }}</p>	
									</div>
									<div class="col-sm-6">
										<p class="title"><b>Email</b></p>
									</div>
									<div class="col-sm-6">
										<p class="content">{{ user.email }}</p>	
									</div>
									<div class="col-sm-6">
										<p class="title"><b>Expertise</b></p>
									</div>
									<div class="col-sm-6">
									{% for ii in user_expertise %}
									<span class="badge" >{{ ii }}</span>
									{% endfor %}
									</div>
                            	</div>                    
                        	</div>
						</div>
                    	<br>
                    	<br>
                    <h3>Description</h3><p class="desc">{{ user.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}



