html, body {
    /* margin-top: 50px; */
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

.navbar-static-top {
    margin-bottom: 19px;
}

footer {
    margin-top: 100px;
    position:relative;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:whitesmoke;
}

footer p {
    text-align: center;
    padding-top: 10px;
}

textarea {
    resize:none
}

content {
    min-height:100%;
}

section {
    margin-top:50px;
}

.flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 94%;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
}

.flex{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    justify-content: center;
}

.flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
}

table, th, td {
    border: 1px solid black;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
}

h2 {
    font-family: 'Merriweather', serif;
}

h3 {
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

h4 {
    font-family: 'Merriweather', serif;
}

@media only screen and (max-width: 768px) {
    .flex{
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin-right: -15px;
        margin-left: -15px;
        align-items: center;
        justify-content: center;
    }

    .flex-item {
        padding: 0 15px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20%;
    }
}