body {
    height: 100%;
    background-color: whitesmoke;
}

#login-section {
    padding: 10px;
    margin-top:18%;
}

#login-section form {
    display: flex;
    flex-direction: column;
    width: 300%;
}

#login-section form > .login-form-input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 120%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    margin-left:-45%;
    box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.35)
}

#login-section form > #submit {
    margin-top:20px;
    margin-left:4.5%;
    width: 25%;
    box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.35)
}

#signup-section form .signup-form-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.35)
}

@media (max-width:768px) {

    #login-section form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #login-section form > .login-form-input {
        padding: 15px;
        margin:0;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        color: #2C3E50;
        font-size: 14px;
    }   

    #login-section form > #submit {
        margin-top:20px;
        width: 100%;
        box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.35)
    }
}