{% extends "app_dashboard/layout/base.html" %}
{% load staticfiles %}
{% block content %}
<section class="input-section" id="input-section">
    <div class="container">
        <form id="form" method="POST" action="{% url 'app_timeline:add_status' user.username %}">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <h2>Update Status</h2>
            {% csrf_token %}
            {{ status_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>
<section class=" " id=" ">
    <div class="container">
        <div class="flex">
            {% if status_post %}
                {% for data in status_post %}
                    <div class="flex-item">
                        <!-- status -->
                        <div class="card">
                            <div class="card-block">
                                <img class="card-img-left" src="">
                                <a>
                                    <h4 class="card-title">{{ data.user.username }}</h4>
                                </a>
                                <p class="card-text">{{ data.content }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}