{% extends "app_home/layout/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}" />
{% endblock %}
{% block content %}
<section class="input-section" id="input-section">
    <div class="container">
        <div class="flex">
            <form id="form" method="POST" action="{% url 'app_timeline:add_status' user.username %}">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-1">
                        {% if user.photo %}
                        <img id="img" src="{{ user.photo.url }}">
                        {% else %}
                        <img class="img" src="{% static 'img/profile_pic.svg' %}">
                        {% endif %}
                    </div>
                    <div class="col-sm-11">
                        {% csrf_token %}
                        {{ status_form }}                        
                    </div>
                </div>
                <div class="button">
                    <input id="submit" type="submit" class="btn btn-lg btn-info pull-right" value="Post">
                </div>
                <br>
            </form>
        </div>
    </div>
</section>
<section class="status-stream" id="status-stream">
    <div class="container">
        <div class="flex">
            <div class="stream">
            {% include "app_timeline/timeline_stream.html" %}
            </div>
        </div>
    </div>
</section>
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
{% endblock %}