{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-brand">Ling-In</div>
      <div id="sidenav" class="sidenav">
          <a href="{}">Dashboard</a>
          <a href="{% url 'app_timeline:timeline_page' user.username %}">Timeline</a>
          <a href="{% url 'app_profile:profile_page' user.username %}">Profile</a>
          <a href="{% url 'app_friend:index' user.username %}">Friends</a>
          <a href="{% url 'app_home:homepage' %}" class="button-buttom">Sign out</a>
          <a href="javascript:void(0)" id="close" onclick="closeNav()">&times; Close</a>
      </div>
      <span id="button-header" class="pull-right" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  </div>
</nav>