{% load static %}

<form id="form" method="POST" action="{% url 'app_friend:addfriend' user.username %}">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-1">
                        {% if user.photo %}
                        <img id="img" src="{{ user.photo.url }}">
                        {% else %}
                        <img class="img" src="{% static 'img/profile_pic.svg' %}">
                        {% endif %}
                    </div>
                    <div class="col-sm-11">
                        {% csrf_token %}
                        {{ friend_form }}                        
                    </div>
                </div>
                <div class="button">
                    <input id="submit" type="submit" class="btn btn-lg btn-info pull-right" value="Post">
                </div>
                <br>

{% for f in friends %}
    {{ f.name }}
    {{ f.url }}
    {{ f.created_at }}
{% endfor %}