#input-section form {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0.5px rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    box-sizing: border-box;
    position: relative;
}

#input-section form .content-form-textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
}

#input-section form img {
    border-radius: 50%;
    max-width: 75px;
    margin-left: 10px;
    margin-top: 15px;
}

#status-stream .stream {
    width: 100%;
    margin: -50px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    background: white;
    box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.4);
}

#status-stream .stream .status {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

#status-stream .stream .status .header {
    display: flex;
    margin-bottom:15px;
}

#status-stream .stream .status .display-pic {
    border-radius: 5%;
    max-width: 35px;
    margin-right: 10px;
}

#status-stream .stream .status p {
    white-space: normal;
    word-break: break-all;
}

@media only screen and (max-width: 768px) {    
    #input-section form img {
        max-width: 0;
    }
}
