img{
	border-radius: 50%;
}

body{
	 background-color: #F3F2F2;
}

h1{
	text-align: center;
	font-size: 30px;
	color: #262D31;
}

table{
	text-align: center;
	width:500;
	border-spacing: 40;
	padding: 40;
}

td{
	text-align: left;

}

p{
	font-family: 

}