img{
	border-radius: 50%;
	max-height:200px;
	max-width: 200px;
}

body{
	 background-color: #F3F2F2;
}

h1{
	text-align: center;
	font-size: 50px;
	color: #262D31;
}

h2{
	text-align: center;
	font-size: 28px;
	color: #262D31;
	font-family: 'Montserrat', serif;
}

h3{
	text-align: center;
	font-size: 20px;
	color: #262D31;
	font-family: 'Montserrat', serif;
}

table{
	text-align: center;
	width:500;
	border-spacing: 40;
	padding: 40;
}

td{
	text-align: left;

}

.profile {
	/*display:flex;*/
	min-width: 50%;
	padding-left:50px;
	padding-right: 50px;
	align-content: center;
}

.profile .content{
	/* margin-top: 5px; */
	/* margin-bottom: 5px; */
	text-align: left;
}


.profile .title {
	margin-right:50px;
	text-align:right;
}

.badge{
	background-color: #576A7D; 
	border-spacing: 30px;
}

@media (max-width:768px) {
	.flex-item {
		align-content: center;
	}

	.desc {
		text-align: justify;
	}

	.profile .title {
		margin-right: 0;
		text-align: center;
	}

	.profile .content {
		text-align: center
	}
}
